.container{
    text-align:center;
}
table{
    margin: auto;
}
input{
    border-radius:20px;
    border:5px;
    font-size:30px; 
}
button{
    border-radius:20px;
    font-size:30px;
    width:70px;
    height:70px;
}
.calculator
{
 background-color: rgb(11, 87, 87);
   padding:23px;
   border-radius:53px;
    display:inline-block;
}